<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Hadziq-Home{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block header %}
    {% endblock header %}
    <link href="/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </head>
  <body class="dark:bg-gray-900 m-0 w-screen min-h-screen flex flex-col justify-between">
    {% include "components/header.html" %}
      {% block body %}
      {% endblock body %}
    {% include "components/footer.html" %}
  <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
  </script>
  </body>
</html>
